@if (tvShows$ | async; as tvShows) {
    @for (tvShow of tvShows; track tvShow) {
        <div class="tv-shows__card">
            <app-card 
                [name]="tvShow.name"
                [originalName]="tvShow.original_name"
                [posterPath]="imgUrl + '/' + tvShow.poster_path"
                [overview]="tvShow.overview"
                [voteCount]="tvShow.vote_count"
                [voteAverage]="tvShow.vote_average"
                [additionalInfo]="{fields: tvShowOverviewFields, data: tvShow}"
                (cardClicked)="openTvShowDetailsDialog(tvShow.id)"
            />
        </div>
    }
    
    @empty {
        <div>There are no tv shows</div>
    }
}